
body {
    color: #333333;
    background-color: #12b69e; 
    margin: 0;
    padding: 0;
}


.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffffc0;
    padding: 20px;
}


.topo-site {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #286c2b8e;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.titulos-topo {
    margin-left: 20px;
}

.titulos-topo h1 {
    color: #2e7d32;
    text-align: left;
    margin: 0 0 2px 0;
}

.titulos-topo h2 {
    font-size: 1.1rem;
    color: #666666;
    margin: 0;
}


footer {
    background-color: #103b97;
    text-align: center;
    padding: 15px;
}

.caixa-contato {
    background-color: #f5f5f5;
    border: 2px solid #2e7d32;
    padding: 20px; 
    max-width: 500px;
    margin: 20px auto;    /* Centraliza o formulário dentro dos 80% do contêiner */
}
/*caixa de texto*/
.caixa-contato label,
.caixa-contato input,
.caixa-contato textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}